* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('images/background.gif');
    color: #e0e0e0;
    font-family: "Varela", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(26, 26, 26, 0.7);
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    z-index: 10;
}

.about-text{
    text-indent: 50px;
}

.logo {
    width: 5%;
}

nav {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    font-family: "Varela", sans-serif;
}

nav a:hover {
    color: #ffffff;
}

main {
    max-width: 600px;
    text-align: left;
    padding: 2rem 1rem;
    margin-top: 2rem;
    line-height: 1.6;
}


section {
    margin-bottom: 2rem;
}

.h4 {
    font-size: 1.75rem;
}


.name {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(41, 41, 41);
    margin-bottom: 2rem;
}


.name h1, .scroller h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #ffffff;
}

.location {
    font-size: 0.9rem;
    color: #535353;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
}

.location i {
    margin-right: 8px; 
    font-size: 1.2rem; 
    color: #8bc34a; 
}

.holder{
    width: 35px; 
    height: 35px;
    display: flex;
    align-items: center; 
}

.holder-text {
    font-size: 16px;  
    font-weight: bold;
    opacity: 1;      
}

.image {
    opacity: 40%;
    display: block;
}

.portfolio {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio img {
    width: 100%;
    display: block;
}

.h5{
    font-size: 10;
}

.portfolio, .project-item {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1.5rem; 
}

.portfolio img, .project-item img {
    width: 100%;
    display: block;
    opacity: 70%;
}

.content{
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out; 
    opacity: 1;
}

.portfolio:hover .content, .project-item:hover .content {
    transform: translateY(-20px); 
}

.button {
    display: none; 
    width: 20%;
    padding: 5px;
    border-radius: 5%;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0; 
}

.portfolio:hover .button, .project-item:hover .button {
    display: block; 
    animation: fadeIn 0.7s ease-in-out; 
}

/* Projects */
/* Projects */
/* Projects */


.projects-overview {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(26, 26, 26, 0.3);
    color: #ffffff;
    font-family: "Varela", sans-serif;
}

.projects-overview h1 {
    font-size: 2.8rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.project-description {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-item {
    background-color: rgba(26, 26, 26, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-item h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.project-item p {
    font-size: 0.95rem;
    color: #dddbdb;
}

.github-link {
    margin-top: 50px;
    font-size: 1.1rem;
}

.github-link .button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-link .button:hover {
    background-color: #a7a7a7;
    transform: scale(1.05);
}


section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}


section ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}

section ul li {
    margin-bottom: 0.5rem;
}

strong {
    color: #e0e0e0;
}

h3 {
    margin-top: 1.5rem;
    color: #ffffff;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid rgb(41, 41, 41);
}

section:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}
/* Contact */
/* Contact */
/* Contact */
/* Contact */
.contact-me {
    text-align: center;
    padding: 60px 20px;
    background-color: rgba(26, 26, 26, 0.3);
    font-family: "Varela", sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

.contact-me h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-me p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

form {
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border-color: #4e4e4e;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.button {
    display: inline-block;
    background-color: #292929;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.social-links {
    margin-top: 20px;
    text-align: center;
}

.social-links p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #555;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.1);
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.social-icon img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(10px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.projects{
    margin-bottom: 2rem;
}

.projects1 img {
    border-radius: 10px;
    border: 3px solid rgb(41, 41, 41);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
}
.projects2 img {
    border-radius: 10px;
    border: 3px solid rgb(41, 41, 41);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
}
.projects3 img {
    border-radius: 10px;
    border: 3px solid rgb(41, 41, 41);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
}

strong {
    color: #ffffff;
}

a {
    color: #8bc34a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.social-icon {
    margin-left: 1rem;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #313131;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    display: block;
}

.social-icon:hover img {
    transform: scale(1.1);
}

.social-icon:hover {
    border-color: #8bc34a; 
}


.scroller, .scroller-bottom {
    overflow: hidden;
    white-space: nowrap;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    

    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
    );
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
    );
}

.scroller__inner, .scroller-bottom .scroller__inner {
    display: flex;
    gap: 2rem; 
    animation: scrolling-left-right 27s linear infinite, fade 27s linear infinite;
}

.scroller__inner:hover, .scroller-bottom .scroller__inner:hover {
    animation-play-state: paused; 
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo-container img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

.logo-text {
    font-size: 16px; 
    font-weight: bold;
    opacity: 1;       
}

.scroller__inner:after, .scroller-bottom .scroller__inner:after {
    content: '';
    display: inline-block;
    width: 100%;
}

@keyframes scrolling-left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrolling-bottom-top {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.scroller2, .scroller-bottom {
    overflow: hidden;
    white-space: nowrap;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    
    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
    );
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%, 
        white 80%, 
        transparent
    );
}

.scroller2__inner, .scroller2-bottom .scroller__inner {
    display: flex;
    gap: 2rem;
    animation: scrolling-left-right 20s linear infinite, fade 20s linear infinite;
}

.scroller2__inner:hover, .scroller2-bottom .scroller__inner:hover {
    animation-play-state: paused; 
}



.logo-container {
    display: flex;
    align-items: center; 
}

.logo-container img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

.logo-text {
    font-size: 16px;  
    font-weight: bold;
    opacity: 1;       
}

.scroller2__inner:after, .scroller2-bottom .scroller2__inner:after {
    content: '';
    display: inline-block;
    width: 100%;
}

@keyframes scrolling-left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

@keyframes scrolling-bottom-top {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* CERT */
/* CERT */
/* CERT */
/* CERT */
/* CERT */

.certifications {
    text-align: left;
    margin: 20px 0;
}

.certificate-images {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

.cert-img {
    width: 100px; 
    height: auto; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cert-img:hover {
    transform: scale(1.2); 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .certificate-images {
        flex-wrap: wrap;
    }
    .cert-img {
        width: 120px;
    }
}

